*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 200ms ease-in;
}

html,
body {
  height: 100%;
}

body {
  background-color: #121212;
  color: #fafafa;
  font-family: sans-serif;
}

a {
  color: #fafafa;
}

header {
  background-color: #a33791;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}

nav {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

nav button {
  border: none;

  height: 3rem;
  width: 3rem;

  border-radius: 0.5rem;
  background-color: #791168;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

nav button:hover {
  background-color: #550b48;
}

nav button i {
  font-size: 2rem;
  color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  background-color: #550b48;
  padding: 1rem;
  display: none;
}

.menu li {
  font-size: 1.25rem;
}
