*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 200ms ease-in;
}

html,
body {
  height: 100%;
}

body {
  background-color: #121212;
  color: #fafafa;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
}

a {
  color: #fafafa;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Estilos do header - Ínicio */
header {
  background-color: #000000;
  height: 5rem;
  padding: 0.5rem;
  position: relative;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

.btn {
  border: none;

  height: 3rem;
  width: 3rem;

  border-radius: 0.5rem;
  background-color: #791168;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.btn:hover {
  background-color: #550b48;
}

nav button i {
  font-size: 2rem;
  color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  background-color: #550b48;
  padding: 1rem;
  display: none;
}

.menu li {
  font-size: 1.25rem;
}

.menu li a {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.menu li a:hover {
  background-color: #c508a2;
}

.ativo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Estilos do header - Fim */

main {
  flex: 1;
  margin: 0.25rem;
}

/* Estilos ToDo List - Ínicio */
.todo-list-container {
  border: 1px solid #fafafa10;
  border-radius: 0.5rem;

  background-color: #1a1a1a;

  max-width: 40rem;
  margin: 2rem auto;

  padding: 1rem;
}

.todo-list-container h2 {
  text-align: center;
  text-transform: capitalize;
}

.form-todo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.form-todo input,
.form-todo button {
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
}

.form-todo input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.form-todo button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: #c508a2;
  color: #fafafa;
}

.form-todo button:hover {
  background-color: #550b48;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list li {
  font-size: 1.125rem;
  background-color: #121212;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li button {
  border: 0;
  background-color: #bd0606;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.todo-list li button:hover {
  background-color: #ff0000;
  transform: scale(1.1);
}

.todo-list .complete {
  background-color: #29907f;
  text-decoration: line-through;
}
/* Estilos ToDo List - Fim */

/* Estilos Slider - Ínicio */

.slides img {
  max-width: 100%;
  display: none;
  border-radius: 0.5rem;
}

.slides img.active {
  display: block;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

footer {
  background-color: #000000;
  height: 5rem;
  padding: 0.5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* Estilos Slider - Fim */

/* Estilos Form Login - Ínicio */
.form-container h2 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.form-container p {
  text-align: center;
  margin: 1rem 0;
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: 600;
}

.form-login {
  width: 100%;
  max-width: 35rem;
  background-color: #00000093;
  border: 1px solid #fafafa38;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-login div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-login div input,
.form-login button {
  height: 3rem;
  border-radius: 0.5rem;
  font-size: clamp(0.875rem, 3vw, 1rem);
}
.form-login div input {
  padding: 0 1rem;
}

.form-login button {
  background: #c508a2;
  border: none;
  color: #fafafa;
  font-weight: 600;
  cursor: pointer;
}
.form-login button:hover {
  background: #7f116b;
}

@media screen and (min-width: 780px) {
  .btn-hidden {
    display: none;
  }

  .menu {
    position: initial;
    background: none;
    display: flex;
    gap: 1rem;
  }

  .menu li a:hover {
    background-color: #550b48;
  }
}
